.container{
  .form-control {
    width: 150px;
    float: right;
  }

  .center-elements{
    display: inline;
    text-align: center;

      #clock-output {
        width: 190px;
        margin: 0 auto;
          span{
            float: right;
          }
      }
  }
}
